.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
    gap: 10px;
}

.card {
    perspective: 1000px;

}

.card .front,
.card .back {
    width: 100%;
    backface-visibility: hidden;
    transition: transform 0.6s;
}

.card .front {
    transform: rotateY(180deg);
}

.card.flip .front {
    transform: rotateY(0);
}

.card.flip .back {
    transform: rotateY(-180deg);
}
