.navbar {
    background-color: #2c3e50; /* Adjusted to your navbar color */
    color: #ecf0f1; /* Adjusted to your navbar text color */
    display: flex;
    justify-content: space-between; /* This will push the nav to either end */
    align-items: center;
    padding: 0 10px; /* Add padding on the sides */
    width: 100%; /* Ensure the navbar takes full width */
    top: 0;
    left: 0; /* Align the navbar to the left edge */
    right: 0; /* Align the navbar to the right edge */
    position: fixed; /* Fixed position */
    z-index: 1000; /* High index to ensure it's on top of other elements */
  }
  
  /* Remove default list styles and apply horizontal layout */
  .nav-menu {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Align menu items to the right */
    width: 100%; /* Ensure the list takes full width */
    margin: 22px;
    padding: 0;
  }
  
  
  /* Style for individual navigation items */
  .nav-item {
    text-transform: uppercase; /* Optional: makes all text uppercase */
    font-weight: bold; /* Make the text a bit heavier */
  }
  
  /* Style for navigation links */
  .nav-link {
    color: #ecf0f1; /* Light color for text */
    text-decoration: none; /* Remove underline from links */
    padding: 0.5em 1em; /* Add some padding around the links */
    border-radius: 5px; /* Optional: rounds corners of the link backgrounds */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
  }
  
  /* Hover effect for links */
  .nav-link:hover,
  .nav-link:focus { /* Include focus for keyboard navigation */
    background-color: #34495e; /* Slightly lighter slate color for the hover background */
    color: #1abc9c; /* Contrasting color for the text */
  }
  
  /* Responsive design: adjust the layout for smaller screens */
  @media (max-width: 768px) {
    .nav-menu {
      flex-direction: column; /* Stack the menu items vertically */
      gap: 10px;
    }
  
    .navbar {
      padding: 1em; /* Adjust padding for smaller screens */
    }
  }
  